ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  margin-left: -40px;
}

p {
  line-height: 20px;
}

div.footercontainer {
  margin: 50px 80px 10px 100px;
}

.small-icons {
  height: 25px;
  color: lightgray;
}
