ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  margin-left: -40px;
}

p {
  line-height: 20px;
}

div.footercontainer {
  padding: 50px 0px 20px 0px;
}

.small-icons {
  height: 25px;
  color: lightgray;
}


.footercontainer ul li a {
  color: gray;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -50px;
}

.footer-icon-set {
  padding: 10px;
}

h5.mail-link {
  color: black;
  
  &:hover {
    color: #84bc22;
  }
}

.icon-upload {
  color: lightgray;
  &:hover {
    color: #84bc22;
  }
}

.strong {
  font-weight: bold
}