.pdp-gallery {
  margin: 20px;
  margin-bottom: 50px;
}
.pdp-popular-items {
  margin-top: 30px;
}

.pdp-title {
  color: black;
  font-size: 3rem;
  text-align: left;
  margin-top: 30px;
}

.pdp-page {
  padding: 40px 40px 40px 30px;
}
