.pdp-gallery {
  margin: 20px;
  margin-bottom: 50px;
}
.pdp-popular-items {
  margin-top: 30px;
}

.pdp-title {
  color: black;
  font-size: 3rem;
  text-align: left;
  margin-top: 30px;
}
.pdp-page {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}
.tab-pdp {
  .nav-tabs {
    background: white;
    justify-content: center;
  }
}
