.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  
  h3.carousel-text {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .carousel-text-paragraph {
    margin-top: 150px;
    padding-left: -50px;
  }
  
  div.left-text.carousel-caption {
    text-align: left;
  }
  
  div.right-text.carousel-caption {
    text-align: right;
  }
  
  div.carousel-caption {
    margin-bottom: 40px;
    p {
      margin-bottom: 30px;
    }
  }