.services-images {
  object-fit: cover;
}
.justify-center-buttons {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

a.services-cards-headline {
  height: 50px;
}
div.service-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.load-more-button {
  margin-top: 50px;
}
